{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}{% endblock %}
    {% block style %}{% endblock %}
</head>
<body>
    <header class="header">
        <div class="left-menu">
            <div class="logo">
                <a href="{% url 'cinemas:index' %}">
                    <img src="{% static 'images/logo.webp' %}" >
                </a>
            </div>
            <a href="{% url 'cinemas:movies' %}" class="top-menu">Фильмы</a>
            <a href="{% url 'cinemas:index' %}" class="top-menu">Кинотеатры</a>
            {% if user.is_authenticated %}
                <a href="{% url 'cinemas:orders' %}" class="top-menu">Карта</a>
            {% endif %}
        </div>
        <div class="menu">
            {% if user.is_authenticated %}
                <a href="{% url 'users:logout' %}">Выход</a>
            {% else %}
                <a href="{% url 'users:login' %}">Вход</a>
            {% endif %}
        </div>
    </header>
    {% block content %}{% endblock %}
    <footer class="footer">
        © 2024 Bishkek Cinema. Все права защищены.
    </footer>
    {% block script %}{% endblock %}
</body>
</html>