{% extends 'cinemas/base.html' %}
{% load static %}

{% block title %}
    <title>О фильме</title>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/session_detail.css' %}">
{% endblock %}

{% block content %}
    <div class="content">
        <div class="movie-details">
            <img src="{{ session.movie.picture.url }}" alt="Фильм 1">
            <div class="info">
                <h2>{{ session.movie.name }}</h2>
                <p>Жанр: {{ session.movie.genre }}</p>
                <p>В главных ролях: {{ session.movie.starring }}</p>
                <p>Год: {{ session.movie.year }}</p>
                <p>Продолжительность: {{ session.movie.duration }} минут</p>
                <p>Страна: {{ session.movie.country }}</p>
                <p>Описание: {{ session.movie.description }}</p>

                {% if user.is_authenticated %}
                    <button class="booking-button" onclick="openModal()">Забронировать</button>
                {% else %}
                    <p><b>Необходимо <a href="{% url 'users:login' %}">авторизация</a></b></p>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2>{{ session.movie.name }}</h2>
            <p>{{ session.start_time|date:'d.m H:i' }} | {{ session.cinema.name }} | Зал {{ session.hall.name }}</p>
            <form>
                {% csrf_token %}
                <div class="seats">
                    {% for row in rows %}
                        {% for seat in row %}
                            <div class="row">
                                {% if seat.disabled == True %}
                                    <input type="checkbox" id="{{ seat.row_id }}_{{ seat.seat_id }}" name="seat" disabled>
                                {% else %}
                                    <input type="checkbox" id="{{ seat.row_id }}_{{ seat.seat_id }}" name="seat">
                                {% endif %}
                                <label for="seat-{{ seat.row }}-{{ seat.seat }}">{{ seat.row }}-{{ seat.seat }}</label>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
                <div class="buttons">
                    <button type="button" class="cancel" onclick="closeModal()">Отмена</button>
                    <button class="buy" id="order_btn">Забронировать</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        // Get the modal
        var modal = document.getElementById("myModal");

        // Function to open the modal
        function openModal() {
            modal.style.display = "block";
        }

        // Function to close the modal
        function closeModal() {
            modal.style.display = "none";
        }

        // Close the modal if the user clicks outside of it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        const orderBtn = document.getElementById('order_btn')
        const sessionId = '{{ session.id }}'
        const hallId = '{{ session.hall.id }}'
        const cinemaId = '{{ session.cinema.id }}'
        orderBtn.onclick = (e) => {
            e.preventDefault()

            const checkedCheckboxes = document.querySelectorAll('input[type="checkbox"]:checked')
            let reserved_seats = []
            checkedCheckboxes.forEach(function(checkbox) {
                const data = {
                    row: checkbox.id.split('_')[0],
                    seat: checkbox.id.split('_')[1]
                }
                reserved_seats.push(data)
            });
            data = {
                reserved_seats: reserved_seats, 
                session_id: sessionId,
                hall_id: hallId,
                cinema_id: cinemaId,
            }
            console.log(data)
            fetch('http://127.0.0.1:8000/orders/request/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'csrftoken': getCookie('csrftoken')
                },
                body: JSON.stringify(data)
            }).then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok ' + response.statusText);
                }
                return response.json()
            }).then(data => {
                console.log(data)
                if (data.status == 'FAILED') {
                    alert('Выбранное место забронировано')
                } else {
                    alert('Вы успешно забронировали места') 
                }
                window.location.reload()
            }).catch(error => {
                alert('Ошибка', error)
            })
        }

        const getCookie = (name) => {
            return document.cookie.split(';').reduce((prev, c) => {
                let arr = c.split('=');
                return (arr[0].trim() === name) ? arr[1] : prev;
            }, undefined);
        };
    </script>
{% endblock %}
